/* ── StatsGrid ────────────────────────────────────────────────────────────── */

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

@media (max-width: 47.9375rem) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.stat {
  font-family: 'Inter Display', sans-serif;
  font-weight: 500;
  font-size: 1.625rem;
}

@media (max-width: 47.9375rem) {
  .stat {
    font-size: 1.25rem;
  }
}
